[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
flask = "==1.1.2"
itsdangerous = "==1.1.0"
jinja2 = "==2.11.2"
markupsafe = "==1.1.1"
werkzeug = "==1.0.1"
ward = "*"
coverage = "*"
pytest-cov = "*"
pytest = "*"
pytest-flask = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
