<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board of clubs and points || GUDLFT</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        table.center {
          margin-left: auto;
          margin-right: auto;
        }
    </style>
</head>
<body>
    <h2>Board of clubs</h2>
    <table class="center">
        <caption>
            Points per club
        </caption>
        <thead>
            <th scope="col">Club</th>
            <th scope="col">Points</th>
        </thead>
        <tbody>
            {% for club in clubs %}
                <tr>
		    <td id="{{club['name']}}">{{club['name']}}</td>
                    <td id="points">{{club['points']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}"> Back </a>
</body>
</html>
